h1 {
	text-align: center;
}
h2 {
	text-align: center;
}

* {
	margin: auto;
	font-family: "Interstate", "Overpass", sans-serif;
}

td {
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
}

.number {
	text-align: right;
	font-family: "Consolas", monospace;
	padding-left: 15px;
	padding-right: 15px;
}

th {
	background: #303389;
	color: #FFFFFF;
	padding-left: 15px;
	padding-right: 15px;
}

.prize {
	background: #C2FFBF;
}

.safe {
	background: #FFFFFF;
}

.death {
	background: #F8B7BF;
}

.gen-info {
	background: #FFFF9B;
}

.footer-prize {
	background: #A9F0A6;
}

.footer-safe {
	background: #CBCBCB;
}

.footer-death {
	background: #DF9EA6;
}

.footer-gen-info {
	background: #F8E28C;
}

.text_center {
	text-align: center;
}

.caption {
	width: 50%;
}

.text_td {
	text-align: left;
	font-family: sans-serif;
	padding-left: 15px;
	padding-right: 15px;
}

